@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */

#navbar {
  display: flex;
  align-items: center;
}
#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  z-index: -1;
}

/* Logo and image */

#logo {
  margin: 10px 30px;
}
#logo img {
  height: 70px;
  margin: 3px 6px;
}

/* List styling */
#navbar {
  position: relative;
  top: 0px;
}
#navbar ul {
  display: flex;
  font-family: "Baloo Bhai", cursive;
}
#navbar ul li {
  list-style: none; /* remove the dot*/
  font-size: 1.2rem;
}
#navbar ul li a {
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}
#navbar ul li a:hover {
  background-color: white;
  color: purple;
}

/* Home section */

#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
  height: 650px;
}
#home::before {
  content: "";
  background: url(./bg2.jpeg) no-repeat center center/cover;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  /* opacity: 0.9; */
  z-index: -1;
}
#home h1 {
  color: white;
  text-align: center;
  font-family: "Bree Serif", serif;
}
#home P {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
}
.h-primary {
  font-size: 3.5rem;
  padding: 12px;
  font-family: "Bree Serif", serif;
}
.h-secondary {
  font-size: 2.3rem;
  padding: 12px;
  font-family: "Bree Serif", serif;
}

.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: rgb(0, 225, 255);
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 15px;
  cursor: pointer;
}
.center {
  text-align: center;
}

/*services section*/

#services {
  margin: 50px;
  display: flex;
}
#services .box {
  border: 2px solid red;
  padding: 30px;
  margin: 2px 30px;
  margin-bottom: 20px;
  border-radius: 26px;
  background: #c4996e;
}
#services .box img {
  height: 150px;
  margin: auto;
  display: block;
  padding: 5px;
}

/* client-section */

#client-section {
  /* height: 345px; */
  position: relative;
}
#client-section::before {
  content: "";
  position: absolute;
  background: url(./bg3.jpeg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* opacity: 0.7; */
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
#clients img {
  height: 124px;
}
.client-item {
  padding: 34px;
}

/* Contact Section */

#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  background: url(./contact.jpeg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

/*footer*/

footer {
  background: black;
  color: white;
  padding: 9px 20px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-family: 1.1rem;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box form {
  width: 40%;
}
#contact-box label {
  font-size: 1.3rem;
  font-family: "Bree Serif", serif;
}
html {
  scroll-behavior: smooth;
}
